/* Define global CSS variables */
:root {
 --bg: #ebdbb2;
 --text: #282828;
 --link: #b57614;
 --head: #076678;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
 :root {
  --bg: #242424;
  --text:  #f9f5dd;
  --link: #b2e64c;
  --head: #aa7dfc;
 }
}

/* global */
html {
  font-family: monospace;
  background-color: var(--bg);
}

h1 {
  font-size: 50px;
  text-align: center;
  color: var(--head);
}


h2 {
  font-size: 25px;
  text-align: center;
  color: var(--text);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--head);
}

ul {
  list-style-type: circle;
  color: var(--link)
}

#temp {
  width: 70%;
  float: right;
}

#navbox {
  width: 26%;
  font-size: 18px; 
  margin: 10px;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: var(--link);
  text-align: left;
  float: left;
}
  
#intro {
  font-size: 18px;
  text-align: center;
  color: var(--text);
}

